This file is part of the concurrent Rust implementation
of the Sieve of Eratosthenes:
https://gitlab.com/lemberger/sieve-of-eratosthenes

{% for copyright_line in copyright_lines %}
{{ copyright_line }}
{% endfor %}

{% for expression in spdx_expressions %}
SPDX-License-Identifier: {{ expression }}
{% endfor %}
